body {
  width: 1280px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  /* border: #dbdde0 solid 1px; */
}

header ul {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.7px;
  word-spacing: 72px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 25.5px auto;
}

header li {
  display: inline-block;
}

header a {
  color: #ff0000;
  text-decoration: none;
}

main {
  margin-bottom: 82px;
}

.image-main {
  width: 100%;
  max-width: 1280px;
  text-align: center;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  text-align: center;
  margin: 49px auto 38px;
}

.main-contant {
  width: 1145px;
  margin: 0 auto 66px;
}

.main-contant p {
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 28px;
}

.main-buttom {
  width: 191px;
  height: 51px;
  background: #f00;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding-top: 14px;
}

.main-buttom a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

footer p {
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-align: right;
  margin: 0 105px 29px auto;
}
